In [1]:
import pandas as pd
import numpy as np

In [52]:
csv_test = pd.read_csv("C:/Users/boyu5/Downloads/total3.csv")
csv_test

,SUBJECT,Subject,LOCATION,Country,MEASURE,Measure,FREQUENCY,Frequency,TIME,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,B6BLTT01,"Current account, balance",GBR,United Kingdom,CXCU,US-Dollar converted,A,Annual,1998,1998,USD,US Dollar,6,Millions,NaN,NaN,-6937.274,NaN,NaN
1,B6BLTT01,"Current account, balance",GBR,United Kingdom,CXCU,US-Dollar converted,A,Annual,1999,1999,USD,US Dollar,6,Millions,NaN,NaN,-35685.920,NaN,NaN
2,B6BLTT01,"Current account, balance",GBR,United Kingdom,CXCU,US-Dollar converted,A,Annual,2000,2000,USD,US Dollar,6,Millions,NaN,NaN,-31112.480,NaN,NaN
3,B6BLTT01,"Current account, balance",GBR,United Kingdom,CXCU,US-Dollar converted,A,Annual,2001,2001,USD,US Dollar,6,Millions,NaN,NaN,-29901.080,NaN,NaN
4,B6BLTT01,"Current account, balance",GBR,United Kingdom,CXCU,US-Dollar converted,A,Annual,2002,2002,USD,US Dollar,6,Millions,NaN,NaN,-36459.800,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,B6FARA01,"Reserve assets, net acquisition of financial a...",GBR,United Kingdom,CXCU,US-Dollar converted,A,Annual,2018,2018,USD,US Dollar,6,Millions,NaN,NaN,24763.130,NaN,NaN
271,B6FARA01,"Reserve assets, net acquisition of financial a...",GBR,United Kingdom,CXCU,US-Dollar converted,A,Annual,2019,2019,USD,US Dollar,6,Millions,NaN,NaN,-1112.800,NaN,NaN
272,B6FARA01,"Reserve assets, net acquisition of financial a...",GBR,United Kingdom,CXCU,US-Dollar converted,A,Annual,2020,2020,USD,US Dollar,6,Millions,NaN,NaN,-3311.454,NaN,NaN
273,B6FARA01,"Reserve assets, net acquisition of financial a...",GBR,United Kingdom,CXCU,US-Dollar converted,A,Annual,2021,2021,USD,US Dollar,6,Millions,NaN,NaN,24349.020,NaN,NaN
274,B6FARA01,"Reserve assets, net acquisition of financial a...",GBR,United Kingdom,CXCU,US-Dollar converted,A,Annual,2022,2022,USD,US Dollar,6,Millions,NaN,NaN,-1325.164,NaN,NaN

In [53]:
raw_df = csv_test[['Subject','TIME', 'Value']]
raw_df

                                               Subject  TIME      Value
0                             Current account, balance  1998  -6937.274
1                             Current account, balance  1999 -35685.920
2                             Current account, balance  2000 -31112.480
3                             Current account, balance  2001 -29901.080
4                             Current account, balance  2002 -36459.800
..                                                 ...   ...        ...
270  Reserve assets, net acquisition of financial a...  2018  24763.130
271  Reserve assets, net acquisition of financial a...  2019  -1112.800
272  Reserve assets, net acquisition of financial a...  2020  -3311.454
273  Reserve assets, net acquisition of financial a...  2021  24349.020
274  Reserve assets, net acquisition of financial a...  2022  -1325.164

[275 rows x 3 columns]

In [54]:
time = csv_test[['TIME']][0:25]
time

    TIME
0   1998
1   1999
2   2000
3   2001
4   2002
5   2003
6   2004
7   2005
8   2006
9   2007
10  2008
11  2009
12  2010
13  2011
14  2012
15  2013
16  2014
17  2015
18  2016
19  2017
20  2018
21  2019
22  2020
23  2021
24  2022

In [55]:
CA = raw_df.groupby('Subject').get_group('Current account, balance')
FA = raw_df.groupby('Subject').get_group('Financial account, net')
FDI_assets = raw_df.groupby('Subject').get_group('Direct investment, net acquisition of financial assets')
FDI_liabilities = raw_df.groupby('Subject').get_group('Direct investment, net incurrence of liabilities')
Portfolio_assets = raw_df.groupby('Subject').get_group('Portfolio investment, net acquisition of financial assets')
Portfolio_liabilities = raw_df.groupby('Subject').get_group('Portfolio investment, net incurrence of liabilities')
derivatives = raw_df.groupby('Subject').get_group('Financial derivatives, net')
Portfolio = raw_df.groupby('Subject').get_group('Portfolio investment, net')
Other = raw_df.groupby('Subject').get_group('Other investment, net')
FDI = raw_df.groupby('Subject').get_group('Direct investment, net')
Reserve = raw_df.groupby('Subject').get_group('Reserve assets, net acquisition of financial assets')

In [56]:
CA = CA.drop(columns="Subject")
FA = FA.drop(columns="Subject")
FDI = FDI.drop(columns="Subject")
Portfolio = Portfolio.drop(columns="Subject")
derivatives = derivatives.drop(columns="Subject")
Other = Other.drop(columns="Subject")
Reserve = Reserve.drop(columns="Subject")
FDI_assets = FDI_assets.drop(columns="Subject")
FDI_liabilities = FDI_liabilities.drop(columns="Subject")
Portfolio_assets = Portfolio_assets.drop(columns="Subject")
Portfolio_liabilities = Portfolio_liabilities.drop(columns="Subject")

In [57]:
CA.columns = ["TIME", "CA"]
FA.columns = ["TIME", "FA"]
FDI.columns = ["TIME", "FDI"]
Portfolio.columns = ["TIME", "Portfolio"]
derivatives.columns = ["TIME", "derivatives"]
Other.columns = ["TIME", "Other"]
Reserve.columns = ["TIME", "Reserve"]
FDI_assets.columns = ["TIME", "FDI_assets"]
FDI_liabilities.columns = ["TIME", "FDI_liabilities"]
Portfolio_assets.columns = ["TIME", "Portfolio_assets"]
Portfolio_liabilities.columns = ["TIME", "Portfolio_liabilities"]

In [58]:
from functools import reduce

In [65]:
data_list = [CA, CA_per, FA, FDI, Portfolio, derivatives, Other, Reserve, FDI_assets, FDI_liabilities, Portfolio_assets, Portfolio_liabilities]
df_total = reduce(lambda x, y : pd.merge(x,y,on='TIME'), data_list)

In [73]:
df_total.to_csv('dataset2.csv')

In [84]:
df_total

,TIME,CA,CA_per,FA,FA_per,FDI,Portfolio,derivatives,Other,Reserve,FDI_assets,FDI_liabilities,Portfolio_assets,Portfolio_liabilities
1,1999,-35685.92,-2.112436,-57631.05,-3.411483,113387.000,-195896.40,-4344.049,30256.26,-1033.8350,243266.800,129879.800,22144.13,218040.50
2,2000,-31112.48,-1.866424,-36202.02,-2.171743,117504.400,-179973.10,-2350.997,22690.98,5926.6910,280997.800,163493.400,101045.90,281019.00
3,2001,-29901.08,-1.812589,-25620.45,-1.553099,21269.230,170055.90,-12123.190,-200379.00,-4443.3940,77268.950,55999.720,184238.80,14182.85
4,2002,-36459.80,-2.039588,-59579.12,-3.332900,34153.870,-111520.30,-1501.780,19977.73,-688.6285,122100.300,87946.410,-16879.65,94640.66
5,2003,-38622.93,-1.877310,-62416.00,-3.033798,47628.630,-183571.60,8821.145,67252.04,-2546.2250,83558.340,35929.710,40475.02,224046.60
6,2004,-57511.98,-2.371658,-29621.77,-1.221532,42017.630,-24243.83,14962.970,-62717.68,359.1407,129287.000,87269.340,233897.70,258141.50
7,2005,-52081.16,-2.046951,-57260.18,-2.250503,-94349.600,-80863.04,-10859.780,127619.70,1192.5040,159566.500,253916.100,251554.70,332417.80
8,2006,-85773.90,-3.164505,-116207.40,-4.287305,-66284.850,118816.90,-38326.620,-129628.90,-783.9788,141662.800,207947.600,424296.30,305479.30
9,2007,-117012.90,-3.782980,-149153.10,-4.822060,159054.100,-185105.30,55614.020,-181099.20,2383.2010,368313.500,209259.400,229051.40,414156.60
10,2008,-115771.30,-3.961531,-125914.30,-4.308610,105690.600,-798255.20,231500.500,337601.60,-2451.9130,366661.800,260971.100,-487164.70,311090.60
11,2009,-76287.12,-3.152559,-70166.88,-2.899641,-60801.730,-158357.70,-49810.230,189816.50,8986.2370,-51107.570,9694.158,119434.50,277792.20
12,2010,-71797.23,-2.883065,-96725.32,-3.884069,-10104.060,-92930.50,-78489.510,75423.70,9375.0630,55243.370,65347.430,-14680.39,78250.11
13,2011,-48133.29,-1.804218,-47738.94,-1.789436,53415.360,-248468.50,12087.030,127295.30,7931.9100,80085.360,26670.010,-180112.70,68355.81
14,2012,-89290.24,-3.289029,-81430.66,-2.999519,-34854.710,277135.80,-59536.330,-276284.90,12109.4600,12141.150,46995.860,167707.00,-109428.80
15,2013,-133041.90,-4.775469,-108904.20,-3.909059,-11190.380,-235482.60,61772.990,68241.18,7754.6450,44722.460,55912.840,-85471.47,150011.20
16,2014,-157966.20,-5.150398,-146811.50,-4.786705,-176080.600,20625.20,22991.160,-26058.51,11711.2600,-116105.000,59975.570,109598.20,88973.01
17,2015,-148792.30,-5.069448,-160340.10,-5.462889,-106015.900,-192474.80,-133191.000,239135.10,32206.4600,-60047.720,45968.190,-26327.12,166147.70
18,2016,-148040.50,-5.486029,-166280.50,-6.161960,-296175.400,-158354.20,15539.450,263922.40,8787.3350,32744.330,328919.800,-182694.50,-24340.28
19,2017,-96890.88,-3.608715,-95746.09,-3.566077,46043.830,-88233.51,19323.570,-81635.21,8755.2300,171947.100,125903.300,108157.20,196390.70
20,2018,-117145.40,-4.071039,-123055.40,-4.276423,-4874.999,-351717.50,10322.190,198451.80,24763.1300,-28767.160,-23892.160,-190347.70,161369.80
21,2019,-80808.17,-2.828961,-101812.30,-3.564281,-42191.960,29794.20,2471.896,-90773.60,-1112.8000,-20719.520,21472.450,98676.77,68882.58
22,2020,-86582.60,-3.200142,-107406.80,-3.969816,-136426.300,32404.03,33111.980,-33185.08,-3311.4540,-3666.711,132759.600,112291.90,79887.87
23,2021,-46912.55,-1.502216,-24496.21,-0.784408,156112.400,-264272.40,-37445.860,96760.57,24349.0200,161347.900,5235.432,-72165.32,192107.00
24,2022,-115733.00,-3.768608,-79772.41,-2.597625,115509.900,-108232.00,-58077.930,-27647.24,-1325.1640,157592.200,42082.280,-139640.20,-31408.24

In [81]:
df_total1

,TIME,CA,CA_per,FA,FA_per,FDI,Portfolio,derivatives,Other,Reserve,FDI_assets,FDI_liabilities,Portfolio_assets,Portfolio_liabilities
1,1999,-35685.92,-2.112436,-57631.05,-3.411483,113387.000,-195896.40,-4344.049,30256.26,-1033.8350,243266.800,129879.800,22144.13,218040.50
2,2000,-31112.48,-1.866424,-36202.02,-2.171743,117504.400,-179973.10,-2350.997,22690.98,5926.6910,280997.800,163493.400,101045.90,281019.00
3,2001,-29901.08,-1.812589,-25620.45,-1.553099,21269.230,170055.90,-12123.190,-200379.00,-4443.3940,77268.950,55999.720,184238.80,14182.85
4,2002,-36459.80,-2.039588,-59579.12,-3.332900,34153.870,-111520.30,-1501.780,19977.73,-688.6285,122100.300,87946.410,-16879.65,94640.66
5,2003,-38622.93,-1.877310,-62416.00,-3.033798,47628.630,-183571.60,8821.145,67252.04,-2546.2250,83558.340,35929.710,40475.02,224046.60
6,2004,-57511.98,-2.371658,-29621.77,-1.221532,42017.630,-24243.83,14962.970,-62717.68,359.1407,129287.000,87269.340,233897.70,258141.50
7,2005,-52081.16,-2.046951,-57260.18,-2.250503,-94349.600,-80863.04,-10859.780,127619.70,1192.5040,159566.500,253916.100,251554.70,332417.80
8,2006,-85773.90,-3.164505,-116207.40,-4.287305,-66284.850,118816.90,-38326.620,-129628.90,-783.9788,141662.800,207947.600,424296.30,305479.30
9,2007,-117012.90,-3.782980,-149153.10,-4.822060,159054.100,-185105.30,55614.020,-181099.20,2383.2010,368313.500,209259.400,229051.40,414156.60
10,2008,-115771.30,-3.961531,-125914.30,-4.308610,105690.600,-798255.20,231500.500,337601.60,-2451.9130,366661.800,260971.100,-487164.70,311090.60
11,2009,-76287.12,-3.152559,-70166.88,-2.899641,-60801.730,-158357.70,-49810.230,189816.50,8986.2370,-51107.570,9694.158,119434.50,277792.20
12,2010,-71797.23,-2.883065,-96725.32,-3.884069,-10104.060,-92930.50,-78489.510,75423.70,9375.0630,55243.370,65347.430,-14680.39,78250.11
13,2011,-48133.29,-1.804218,-47738.94,-1.789436,53415.360,-248468.50,12087.030,127295.30,7931.9100,80085.360,26670.010,-180112.70,68355.81
14,2012,-89290.24,-3.289029,-81430.66,-2.999519,-34854.710,277135.80,-59536.330,-276284.90,12109.4600,12141.150,46995.860,167707.00,-109428.80
15,2013,-133041.90,-4.775469,-108904.20,-3.909059,-11190.380,-235482.60,61772.990,68241.18,7754.6450,44722.460,55912.840,-85471.47,150011.20
16,2014,-157966.20,-5.150398,-146811.50,-4.786705,-176080.600,20625.20,22991.160,-26058.51,11711.2600,-116105.000,59975.570,109598.20,88973.01
17,2015,-148792.30,-5.069448,-160340.10,-5.462889,-106015.900,-192474.80,-133191.000,239135.10,32206.4600,-60047.720,45968.190,-26327.12,166147.70
18,2016,-148040.50,-5.486029,-166280.50,-6.161960,-296175.400,-158354.20,15539.450,263922.40,8787.3350,32744.330,328919.800,-182694.50,-24340.28
19,2017,-96890.88,-3.608715,-95746.09,-3.566077,46043.830,-88233.51,19323.570,-81635.21,8755.2300,171947.100,125903.300,108157.20,196390.70
20,2018,-117145.40,-4.071039,-123055.40,-4.276423,-4874.999,-351717.50,10322.190,198451.80,24763.1300,-28767.160,-23892.160,-190347.70,161369.80
21,2019,-80808.17,-2.828961,-101812.30,-3.564281,-42191.960,29794.20,2471.896,-90773.60,-1112.8000,-20719.520,21472.450,98676.77,68882.58
22,2020,-86582.60,-3.200142,-107406.80,-3.969816,-136426.300,32404.03,33111.980,-33185.08,-3311.4540,-3666.711,132759.600,112291.90,79887.87
23,2021,-46912.55,-1.502216,-24496.21,-0.784408,156112.400,-264272.40,-37445.860,96760.57,24349.0200,161347.900,5235.432,-72165.32,192107.00
24,2022,-115733.00,-3.768608,-79772.41,-2.597625,115509.900,-108232.00,-58077.930,-27647.24,-1325.1640,157592.200,42082.280,-139640.20,-31408.24

In [59]:
csv_test = pd.read_csv("C:/Users/boyu5/Downloads/CA.csv")
csv_test

,SUBJECT,Subject,LOCATION,Country,MEASURE,Measure,FREQUENCY,Frequency,TIME,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,B6BLTT02,Current account balance as % of GDP,GBR,United Kingdom,STSA,Indicators in percentage,A,Annual,1998,1998,PC,Percentage,0,Units,NaN,NaN,-0.418982,NaN,NaN
1,B6BLTT02,Current account balance as % of GDP,GBR,United Kingdom,STSA,Indicators in percentage,A,Annual,1999,1999,PC,Percentage,0,Units,NaN,NaN,-2.112436,NaN,NaN
2,B6BLTT02,Current account balance as % of GDP,GBR,United Kingdom,STSA,Indicators in percentage,A,Annual,2000,2000,PC,Percentage,0,Units,NaN,NaN,-1.866424,NaN,NaN
3,B6BLTT02,Current account balance as % of GDP,GBR,United Kingdom,STSA,Indicators in percentage,A,Annual,2001,2001,PC,Percentage,0,Units,NaN,NaN,-1.812589,NaN,NaN
4,B6BLTT02,Current account balance as % of GDP,GBR,United Kingdom,STSA,Indicators in percentage,A,Annual,2002,2002,PC,Percentage,0,Units,NaN,NaN,-2.039588,NaN,NaN
5,B6BLTT02,Current account balance as % of GDP,GBR,United Kingdom,STSA,Indicators in percentage,A,Annual,2003,2003,PC,Percentage,0,Units,NaN,NaN,-1.877310,NaN,NaN
6,B6BLTT02,Current account balance as % of GDP,GBR,United Kingdom,STSA,Indicators in percentage,A,Annual,2004,2004,PC,Percentage,0,Units,NaN,NaN,-2.371658,NaN,NaN
7,B6BLTT02,Current account balance as % of GDP,GBR,United Kingdom,STSA,Indicators in percentage,A,Annual,2005,2005,PC,Percentage,0,Units,NaN,NaN,-2.046951,NaN,NaN
8,B6BLTT02,Current account balance as % of GDP,GBR,United Kingdom,STSA,Indicators in percentage,A,Annual,2006,2006,PC,Percentage,0,Units,NaN,NaN,-3.164505,NaN,NaN
9,B6BLTT02,Current account balance as % of GDP,GBR,United Kingdom,STSA,Indicators in percentage,A,Annual,2007,2007,PC,Percentage,0,Units,NaN,NaN,-3.782980,NaN,NaN
10,B6BLTT02,Current account balance as % of GDP,GBR,United Kingdom,STSA,Indicators in percentage,A,Annual,2008,2008,PC,Percentage,0,Units,NaN,NaN,-3.961531,NaN,NaN
11,B6BLTT02,Current account balance as % of GDP,GBR,United Kingdom,STSA,Indicators in percentage,A,Annual,2009,2009,PC,Percentage,0,Units,NaN,NaN,-3.152559,NaN,NaN
12,B6BLTT02,Current account balance as % of GDP,GBR,United Kingdom,STSA,Indicators in percentage,A,Annual,2010,2010,PC,Percentage,0,Units,NaN,NaN,-2.883065,NaN,NaN
13,B6BLTT02,Current account balance as % of GDP,GBR,United Kingdom,STSA,Indicators in percentage,A,Annual,2011,2011,PC,Percentage,0,Units,NaN,NaN,-1.804218,NaN,NaN
14,B6BLTT02,Current account balance as % of GDP,GBR,United Kingdom,STSA,Indicators in percentage,A,Annual,2012,2012,PC,Percentage,0,Units,NaN,NaN,-3.289029,NaN,NaN
15,B6BLTT02,Current account balance as % of GDP,GBR,United Kingdom,STSA,Indicators in percentage,A,Annual,2013,2013,PC,Percentage,0,Units,NaN,NaN,-4.775469,NaN,NaN
16,B6BLTT02,Current account balance as % of GDP,GBR,United Kingdom,STSA,Indicators in percentage,A,Annual,2014,2014,PC,Percentage,0,Units,NaN,NaN,-5.150398,NaN,NaN
17,B6BLTT02,Current account balance as % of GDP,GBR,United Kingdom,STSA,Indicators in percentage,A,Annual,2015,2015,PC,Percentage,0,Units,NaN,NaN,-5.069448,NaN,NaN
18,B6BLTT02,Current account balance as % of GDP,GBR,United Kingdom,STSA,Indicators in percentage,A,Annual,2016,2016,PC,Percentage,0,Units,NaN,NaN,-5.486029,NaN,NaN
19,B6BLTT02,Current account balance as % of GDP,GBR,United Kingdom,STSA,Indicators in percentage,A,Annual,2017,2017,PC,Percentage,0,Units,NaN,NaN,-3.608715,NaN,NaN
20,B6BLTT02,Current account balance as % of GDP,GBR,United Kingdom,STSA,Indicators in percentage,A,Annual,2018,2018,PC,Percentage,0,Units,NaN,NaN,-4.071039,NaN,NaN
21,B6BLTT02,Current account balance as % of GDP,GBR,United Kingdom,STSA,Indicators in percentage,A,Annual,2019,2019,PC,Percentage,0,Units,NaN,NaN,-2.828961,NaN,NaN
22,B6BLTT02,Current account balance as % of GDP,GBR,United Kingdom,STSA,Indicators in percentage,A,Annual,2020,2020,PC,Percentage,0,Units,NaN,NaN,-3.200142,NaN,NaN
23,B6BLTT02,Current account balance as % of GDP,GBR,United Kingdom,STSA,Indicators in percentage,A,Annual,2021,2021,PC,Percentage,0,Units,NaN,NaN,-1.502216,NaN,NaN
24,B6BLTT02,Current account balance as % of GDP,GBR,United Kingdom,STSA,Indicators in percentage,A,Annual,2022,2022,PC,Percentage,0,Units,NaN,NaN,-3.768608,NaN,NaN

In [64]:
CA_per = csv_test[['TIME','Value']]
CA_per.columns = ['TIME', "CA_per"]
CA_per

    TIME    CA_per
0   1998 -0.418982
1   1999 -2.112436
2   2000 -1.866424
3   2001 -1.812589
4   2002 -2.039588
5   2003 -1.877310
6   2004 -2.371658
7   2005 -2.046951
8   2006 -3.164505
9   2007 -3.782980
10  2008 -3.961531
11  2009 -3.152559
12  2010 -2.883065
13  2011 -1.804218
14  2012 -3.289029
15  2013 -4.775469
16  2014 -5.150398
17  2015 -5.069448
18  2016 -5.486029
19  2017 -3.608715
20  2018 -4.071039
21  2019 -2.828961
22  2020 -3.200142
23  2021 -1.502216
24  2022 -3.768608

In [68]:
df_total['FA_per'] = df_total['CA_per']/df_total['CA']*df_total['FA']
df_total['FA_per']

0     0.056338
1    -3.411483
2    -2.171743
3    -1.553099
4    -3.332900
5    -3.033798
6    -1.221532
7    -2.250503
8    -4.287305
9    -4.822060
10   -4.308610
11   -2.899641
12   -3.884069
13   -1.789436
14   -2.999519
15   -3.909059
16   -4.786705
17   -5.462889
18   -6.161960
19   -3.566077
20   -4.276423
21   -3.564281
22   -3.969816
23   -0.784408
24   -2.597625
Name: FA_per, dtype: float64